* {
    /* change to 0. Add main, add margin to main. This allows nav bar to use margin: 0; */
    margin: 0;
    padding: 0;
    font-family: 'SF Pro', 'Produc Sans', helvetica, sans-serif;
}

nav {
    width: 100vw;
    background-color: #333333;
    
}

nav ul {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 70px;
    margin-left: 5%;
}

nav li {
    margin-right: 8%;
}

nav li a {
    color: #f3f3f3;
}

nav li:last-of-type {
    margin-right: 0;
}

main {
    margin: 40px;
}

.no-wrap {
    white-space: nowrap;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    min-width: 40%;
    /* overflow-x: scroll; */
}

tr {
    border: 1px solid rgb(220, 220, 220);
}

th, td {
    border-right: 1px solid rgb(220, 220, 220);
    padding: 10px 7px;
}

thead > tr, tr:nth-child(2n) {
    /* adds alternating background-color pattern on table */
    background-color: rgb(246, 248, 250);
}

th:last-of-type, td:last-of-type {
    /* removes border on right-edge of table */
    border-right: none;
}

